<div *ngIf="dataDetailTicket$ | async as dataDetail">
  <h3>Détail du Ticket n° : {{ dataDetail.id }}</h3>
  <p>Déscription : {{ dataDetail.description }}</p>

  <div *ngIf="dataDetail.assigneeId">
    <p>Assigner à : {{ dataDetail.assigneeName }}</p>
  </div>

  <div *ngIf="!dataDetail.assigneeId">
    <p>
      Assigner à :
      <select
        name="selectUserForAssign"
        [(ngModel)]="selectUserForAssign"
        (change)="onSelectUserForAssign()">
        <option selected [value]=""></option>
        <option *ngFor="let user of users$ | async" [value]="user.id">
          {{ user.name }}
        </option>
      </select>
    </p>
  </div>

  <p>Complète : {{ dataDetail.completed }}</p>
</div>
<button type="button" (click)="onPrecede()">Prècedent</button>
